extends layout

block content
  h1= title
  p Welcome to #{title}
  - var results = [{name:"Nitrogen", smell: "Odorless", weight: 14},{name:"Hydrogen", smell: "Odorless", weight: 1},{name:"Helium", smell: "Odorless", weight: 2}]
   div(class="container-fluid")
    div(class="row" )
     each res,index in results
      div(class="col-sm-4" onclick=`buy(${index})`) name : #{res.name} , smell : #{res.smell} , weight : #{res.weight}
  script.
   let itemNumber=0                
        function buy(itemNumber)
        {
            //for index in results
             alert(`you purchased Item ${itemNumber+1}`)
        }